<form #form="ngForm" (ngSubmit)="onSubmit(form)">
	<mat-card class="container" >
		<mat-card-header>
			<mat-card-title>Login</mat-card-title>
			<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
		</mat-card-header>
		<mat-card-content ngModelGroup="login">

			<mat-form-field class="full-width bottom-15px">
				<input matInput ngModel name="username" placeholder="Usuário">
				<mat-label> <mat-icon> account_circle </mat-icon> <b> Usuário</b> </mat-label>
				<mat-hint align=""> <i>Formato: user.name@academico.ifpb.edu.br</i> </mat-hint>
			</mat-form-field>

			<mat-form-field class="full-width">
				<input matInput ngModel name="password" placeholder="Enter your password" [type]="_hide ? 'password' : 'text'">
				<mat-icon matSuffix (click)="_hide = !_hide">{{_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</mat-form-field>

		</mat-card-content>
		<mat-card-actions>
			<button mat-button type="submit" [disabled]="!form.valid" >Logar</button>
		</mat-card-actions>
		<mat-card-footer>
			<p>Esqueceu sua senha?</p>
		</mat-card-footer>
	</mat-card>
</form>
