.sidenav-container {
  height: 100%;
  /* border: 5px solid rgb(0, 0, 0); */
  /* box-shadow: 3px 3 6px rgba(0,0,0,.24); */
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.hidden{
  display: none;
}
/* @media (min-width: 768px) {
  .sidenav{
    display: none;
  }
} */
