<!--<mat-toolbar id="prin" color="primary">
	<mat-toolbar-row>
		<button mat-button routerLink="/"><span>IFPB</span></button>
		<span class="spacer"></span>
		<button mat-button>About</button>
		<button mat-button>Services</button>
		<button mat-button>Contact</button>
		<button *ngIf="!login" mat-button routerLink="/login"><mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>Login</button>
	</mat-toolbar-row>
</mat-toolbar> -->

<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		[ngClass]="{hidden: !(isHandset | async)!.matches}"
		fixedInViewport="false"
		[attr.role]="isHandset ? 'dialog' : 'navigation'"
		[mode]="(isHandset | async)!.matches ? 'over' : 'side'"
		[opened]="!(isHandset | async)!.matches">
		<mat-toolbar color="primary">Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="/"><span>IFPB</span></a>
			<!-- <a mat-list-item >About</a>
			<a mat-list-item >Services</a>
			<a mat-list-item >Contact</a> -->
			<a mat-list-item routerLink="/login"><mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>Login</a>
			<a mat-list-item routerLink="/panel"><mat-icon aria-label="Side nav toggle icon">settings</mat-icon>Setting</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary" >
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="(isHandset | async)!.matches">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<mat-toolbar-row *ngIf="!(isHandset | async)!.matches">
				<!--<span>Application Title</span>-->
				<button mat-button routerLink="/"><span>IFPB</span></button>
				<span class="spacer"></span>
				<!-- <button mat-button>About</button>
				<button mat-button>Services</button> -->
				<button *ngIf="!login" mat-button routerLink="/login"><mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>Login</button>
				<!-- <button mat-button routerLink="/alunos">Alunos</button>  -->
				<button mat-button routerLink="/panel"><mat-icon aria-label="Side nav toggle icon">settings</mat-icon>Setting</button>
			</mat-toolbar-row>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
	