<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-button routerLink="/"><span>IFPB</span></button>
		<span class="spacer"></span>
		<button mat-button>About</button>
		<button mat-button>Services</button>
		<button mat-button>Contact</button>
		<button *ngIf="!login" mat-button routerLink="/login"><mat-icon aria-label="Side nav toggle icon">account_circle</mat-icon>Login</button>
	</mat-toolbar-row>
</mat-toolbar>

<main-nav>
	<!--<app-home></app-home>-->
	<router-outlet></router-outlet>
</main-nav>
