<mat-drawer-container class="container" autosize>
	

	<div class="sidenav-content">
		<button type="button" mat-button (click)="drawer.toggle()">
			Home
		</button>
	</div>
</mat-drawer-container>
<mat-drawer #drawer class="sidenav" mode="side">
		<button class="button-side" (click)="showFiller = !showFiller" mat-raised-button>
			Toggle extra text
		</button>
		<br>
		<button class="button-side" (click)="showFiller = !showFiller" mat-raised-button>
			Toggle extra text
		</button>
		<br>
		<button class="button-side" (click)="showFiller = !showFiller" mat-raised-button>
			Toggle extra text
		</button>
		<br>
		<button class="button-side" (click)="showFiller = !showFiller" mat-raised-button>
			Toggle extra text
		</button>
		<br>
		<button class="button-side" (click)="showFiller = !showFiller" mat-raised-button>
			Toggle extra text
		</button>
		<br>
		<button class="button-side" (click)="showFiller = !showFiller" mat-raised-button>
			Toggle extra text
		</button>
	</mat-drawer>