table {
	width: 100%;
}

td, th {
	width: 25%;
}
  
.mat-form-field {
	font-size: 14px;
	width: 80%;
}

mat-card{
	margin: 23px 0 20px 110px;
	width: 80%;
	padding: 26px 15px 36px 15px;
	transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
}

mat-icon{
	width: 50px;
	margin-right: 25px;
}

h1{text-align: center;}