table {
	width: 100%;
}

td, th {
	width: 25%;
}
  
.mat-form-field {
	font-size: 14px;
	width: 80%;
}

mat-card{
	margin: 2% 0 0 9.5%;
	width: 81%;
	padding: 26px 15px 36px 15px;
	transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
	position: relative;
	display: flex;
  	flex-direction: column;
}

mat-icon{
	width: 50px;
	margin-right: 25px;
}

.title{text-align: center; font-size: 18px;}
.marge1{margin-left: 7px;}