<form #form="ngForm" (ngSubmit)="onSubmit(form)">
	<mat-card>
		<mat-card-header>
			<div mat-card-avatar><mat-icon>assignment</mat-icon></div>
			<mat-card-title class="title">Cadastrar dia refeição</mat-card-title>
			<!-- <mat-card-subtitle>Publicos</mat-card-subtitle> -->
		</mat-card-header>
		<mat-card-content ngModelGroup="diarefeicao">

			<mat-form-field>
				<mat-select name="refeicao" required ngModel>
					<mat-option *ngFor="let refeicao of _refeicoes" [value]="refeicao.id">{{ refeicao.name }}</mat-option>
				</mat-select>
				<mat-label> <mat-icon> restaurant </mat-icon> <b> Refeição</b> </mat-label>
			</mat-form-field>

			<mat-form-field>
				<mat-select name="aluno" required ngModel>
					<mat-option *ngFor="let aluno of _alunos" [value]="aluno.id">{{ aluno.name }}</mat-option>
				</mat-select>
				<mat-label> <mat-icon> face </mat-icon> <b> Aluno</b> </mat-label>
			</mat-form-field>

			<mat-form-field>
				<mat-select name="diaSemana" required ngModel>
					<mat-option *ngFor="let dia of _diaSemana" [value]="dia">{{ dia }}</mat-option>
				</mat-select>
				<mat-label> <mat-icon> face </mat-icon> <b> Dia da Semana</b> </mat-label>
			</mat-form-field>

			<mat-form-field>
				<mat-select name="campi" required ngModel>
					<mat-option *ngFor="let campi of _campus" [value]="campi.id">{{ campi.sigla }}</mat-option>
				</mat-select>
				<mat-label> <mat-icon> business </mat-icon> <b> Campi</b> </mat-label>
			</mat-form-field>

			<mat-form-field>
				<mat-select name="edtial" required ngModel>
					<mat-option *ngFor="let edtial of _editais" [value]="edtial.id">{{ edtial.name }}</mat-option>
				</mat-select>
				<mat-label> <mat-icon> list_alt </mat-icon> <b> Edital</b> </mat-label>
			</mat-form-field>
			
		</mat-card-content>
		<mat-card-actions>
			<button mat-button type="button" (click)="close()">Fechar</button>
			<button mat-button type="submit" [disabled]="!form.valid" >Salvar</button>
		</mat-card-actions>
	</mat-card>
</form>